<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Diego Philips - I AM YUKI: THE HIROSHIMA PROJECT</title>
	<meta 
		name="description" 
		content="More than a concept-album, ‘I am Yuki : The Hiroshima project’ is promoting global peace, forgiveness and tolerance, and does not only limit to the world of music but has a message that extends to the world of art in general.">

	<meta property="og:title" content="I am Yuki: The Hiroshima project" />
	<meta property="og:type" content="music.album" />
	<meta property="og:url" content="" /><!-- url album -->
	<meta property="og:image" content="images/album-cover.png" />
	<meta property="og:description" content="More than a concept-album, ‘I am Yuki : The Hiroshima project’ is promoting global peace, forgiveness and tolerance, and does not only limit to the world of music but has a message that extends to the world of art in general." />
	<meta property="og:audio" content="" /><!-- url play album -->
	<meta property="og:site_name" content="Diego Philips - I'M YUKI: THE HIROSHIMA PROJECT" />

	<meta property="music:musician" content="https://open.spotify.com/artist/3ccrJOoILrsst0M1V0PlP3" />
	<meta property="music:album" content="" /><!-- url album -->

	<link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>
	<aside class="w-full bg-white">
		<a href="https://fb.me/e/1hDpcHKZE"><div class="text-center text-xs md:text-sm text-slate-500 py-2 px-4">
			Visual listening experience on the 12th of March at 3pm at The Cavendish Arms, London
		</div></a>
	</aside>
	<main class="text-slate-100 px-4 md:px-8">

		<section>
			<div class="pt-12 md:pt-24 pb-8">
				<div class="text-center uppercase">
					<h1 class="text-sm">Diego Philips</h1>
					<div class="text-xs opacity-50">ディエゴ・フィリップス</div>
				</div>
	<!-- 			<div class="my-8 md:my-16">
					<img src="<%=asset_path('album-cover.png')%>" srcset="<%=asset_path('album-cover@2x.png')%" 
						class="mx-auto shadow-2xl" 
						height="400" 
						width="auto">
				</div> -->
				<div class="text-center uppercase">
					<h2 class="text-sm">I am Yuki: The Hiroshima Project</h2>
					<div class="text-xs opacity-50">広島プロジェクト</div>
				</div>
			</div>
			<div class="flex flex-row justify-center items-center">
				<div class="text-sm px-4 py-2 bg-slate-500/10 inline-block rounded">
					Album release 18.03.2022
				</div>
			</div>
		</section>
        <br>

<!-- 		<section class="flex justify-center py-16 md:py-40 w-full bg-contain bg-center bg-no-repeat mt-8 md:mt-12 mb-8" style='background-image: url("cd@2x.png");'>
			<div class="flex flex-col md:flex-row gap-8">
				<div>
					<div class="text-slate-500 mb-0 md:mb-4">
						A
					</div>
					<div>
						<div>
							Prelude <span>—</span> 序曲
						</div>
						<div>
							Come Home Yuki <span>—</span> 序曲
						</div>
						<div>
							In my room <span>—</span> 序曲
						</div>
						<div>
							Goodnight little boy <span>—</span> 序曲
						</div>
					</div>
				</div>
				<div>
					<div class="text-slate-500 mb-0 md:mb-4">
						B
					</div>
					<div>
						<div>
							Prelude <span>—</span> 序曲
						</div>
						<div>
							Come Home Yuki <span>—</span> 序曲
						</div>
						<div>
							In my room <span>—</span> 序曲
						</div>
					</div>
				</div>
			</div>
		</section> -->
		<section class="pb-24">	
			<div class="max-w-lg mx-auto leading-normal">
				<h3 class="text-center text-2xl font-semibold mb-12">
					I am Yuki: The Hiroshima project is a multimedia project started by musician Diego Philips in 2018.
				</h3>
				<p>
					Philips’ intimate relationship with Japan started in 2004 on his first visit to Japan. In 2007 he went back and spent six months there where he attended a Japanese High School, soaking in Japanese Culture. In 2013, he went back once more on holidays and visited the city of Hiroshima, where he was deeply moved by the historical events whilst visiting the Hiroshima peace museum.
				</p>
				<p class="mb-4">
					In 2018, with the help of musicians Vincent Cudet on drums, Jamie Moggridge on guitar, Michael Jones on bass and Magda Skyllback on vocals, they put together what was the first version of the Hiroshima project. 
				</p>
				<p class="mb-4">
					After an acclaimed performance at The Half Moon in Putney, they worked with producer James Yates to refine and record the project at Yates’ studio in Newhaven, East Sussex and had the music mastered by Guy Davie at Electric Mastering in London.
				</p>
				<p class="mb-4">
					The music takes influence from various places, from The Beatles to The Velvet Underground and other bands like Wilco and Radiohead. The final product is a syncretism of Folk & Rock, pulling from the influence palettes of the musicians.
				</p>
				<p>
					The narrative behind the music tells the story of a young boy called Yuki, who sees his life being taken away by the bombings. The concept-album finishes on the word of Turkish poet Nazim Hikmet as an ode for global peace.
				</p>
			</div>
			<aside class="max-w-prose mx-auto py-12">
				<div class="text-center text-xl text-rose-600 font-semibold leading-snug">
					More than a concept-album, ‘I am Yuki : The Hiroshima project’ is promoting global peace, forgiveness and tolerance, and does not only limit to the world of music but has a message that extends to the world of art in general.
				</div>
			</aside>
			<div class="max-w-lg mx-auto leading-normal">
				<p class="mb-4">
					As the project was developing, it naturally attracted the help of other creatives. Designer Fran Rohrbasser created the artwork and film director Laura Bernard directed a short documentary on the making of the project. Entrepreneur Romi Sumaria and his team alongside Japanese entrepreneur Chikara Ono lent their efforts and expertise as consultants as they felt rallied by the message the project aimed to deliver.
				</p>
				<p>
					Finally, South-African film director Jared Figgins created a visualizer for the album, enhancing the listener’s journey with powerful imagery to create an immersive experience.
				</p>
				<p class="mb-4">
					As the project was ready to be released, the pandemic hit the world and everything came to a standstill. The world has now been transformed by a global experience and people everywhere have seen their own worlds shaken by the events. This project is closer to us now than ever before and is finally ready to be presented.
				</p>
				<p class="mb-4">
					More than a concept-album, I am Yuki : The Hiroshima project is promoting global peace, forgiveness and tolerance, and does not only limit to the world of music but has a message that extends to the world of art in general.
				</p>
				<p>
					In the mind of the creator Diego Philips, the ultimate goal of the project would be to partner with an animator to produce an anime to the concept-album’s score, helping the world to remember that the events of the past shape the world of tomorrow.
				</p>
			</div>
		</section>
<!-- 		<section class="mb-24">
			<div class="max-w-prose h-96 bg-slate-900/50 rounded-lg mx-auto flex justify-center items-center">
				<div class="opacity-50">Documentary Coming Soon</div>
			</div>
		</section> -->
	</main>
	<footer class="mb-16 px-4">
		<div class="max-w-screen-lg mx-auto text-center text-slate-300 text-xs">
			Written and composed by Diego Philips &mdash; 作詞・作曲：ディエゴ・フィリップス
			<span class="text-rose-600">&bull;</span>
			Acoustic guitar and vocals : Diego Philips &mdash; アコースティックギターとボーカル: ディエゴ・フィリップス
			<span class="text-rose-600">&bull;</span>
			Electric Guitar : Jamie Moggridge &mdash; エレクトリック・ギター：ジェイミー・モグリッジ
			<span class="text-rose-600">&bull;</span>
			Drums : Vincent Cudet &mdash; ドラムス：ヴィンセント・クデット
			<span class="text-rose-600">&bull;</span>
			Vocals : Magda Skyllbäck &mdash; ヴォーカル：マグダ・スキルベック
			<span class="text-rose-600">&bull;</span>
			Recorded, produces and mixed by James Yates &mdash; 録音、プロデュース、ミキシング：ジェームス・イェーツ
			<span class="text-rose-600">&bull;</span>
			Mastered by Guy Davie at Electric Mastering &mdash; マスタリング：ガイ・デイヴィー（エレクトリック・マスタリング)
			<span class="text-rose-600">&bull;</span>
			Artwork : F Rohrbasser &mdash; アートワーク : F.ロアバッサー
		</div>
	</footer>
</body>
</html>